<!DOCTYPE html>
<!-- タイムリーフを使うためにxmlns:thの内容を書く -->
<html xmlns:th="http//www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Hello World</title>
	</head>
	<body>
		<h1>Hello World</h1>
		<!-- 文字入力フォーム -->
		<form method="post" action="/hello">
			好きな文字を入力:
			<!-- th:valueを使うことで、画面からコントローラークラスに値を渡すことができる
				ちなみにth:とつくのはタイムリーフの属性である、元々存在するvalue属性にth:をつけてタイムリーフの属性であることを宣言している -->
			<input type="text" name="text1" th:value="${text1_value}">
			<input type="submit" value="クリック">
		</form>
		<br>
		<form method="post" action="/hello/db">
			従業員IDを入力:
			<input type="text" name="text2" th:value="${text2_value}">
			<input type="submit" value="クリック">
		</form>
	</body>
</html>